.details__fee{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto;
}

.details__fee .recentCt {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details__fee .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.details__fee .cardHeader h2{
  font-family: Calibri;
}

span{
  padding: 5px;
  border-radius: 10px;
}

.status-paid{
  background-color: #7DB927;
  color: #fff;
}

.status-unpaid{
  background-color: #B6261D;
  color: #fff;
}

.btn-details{
  padding: 10px;
  border-radius: 10px;
  background-color: #2A2185;
  color: #fff;
}